.tabs{
    display: flex;
    /* background-color: rgb(0, 0, 0); */
    justify-content: center;
    column-gap: 2vw;
    padding-top: 15vh;
}

.btnstyle{
    width: 25%;
    height: 5vh;
    font-size: 2vh;
 
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.3s;

}
.btnstyle:hover{
  background-color: aquamarine;
  cursor: pointer;
  
}