.Product{
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 17, 17);
    
    align-items: center;
    
    z-index: 1;
    border-radius: 15px;
    
    /* max-height: fit-content; */
    width: 100%;
    /* border-bottom: 0px; */
    
    margin-left: auto;
    margin-right: auto;
    transition: all ease 0.5s;
  


    
}
.Product_main{
    width: 30%;
    margin-bottom: 3vh;
    border: 2px solid black;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    /* background-color: #000000; */
    /* box-shadow: 0px 5px 20px #00c2cb, 0px 5px 20px #fff; */
    transition: all ease 0.5s;
    /* max-width: 200px; */
    min-width: min-content;
    background-color: #fff;
    
    
}
/* .Product_main:hover > .Product_main:not(:hover) {
    filter: blur(4px);
  } */

.Product_main:hover{
    transform: translateY(-10px);
  box-shadow: 0px 15px 30px #FF0000;
  background-color: rgb(255, 255, 255);
  color: #000000;
  
  
}


.Product_main:hover .Product{
    background-color: rgb(255, 255, 255);
    color: #000000;
  }
  .Product_main:hover .addToCart{
    background-color: rgb(25, 196, 102);
    color: #000000;

  }
/* 
  .home_row:hover > .Product_main:not(:hover){
    filter: blur(2px)
  } */



.Product:hover{
    background-color: #fff;
    color: #000000;

}

.product_info{
    width: 100%;
    margin-top: 2vh;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hidden-input{
    visibility: hidden;
}

.title{

    margin-left: 10px;
    font-size: 1.2em;
    padding: 0.5em;
    /* background-color: #FF0000; */
}


.price{
    margin-left: 5px;
    font-size: 1em;
    align-self: baseline;
}

.rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: baseline;
}


.image{
    
    /* width: 100%; */
    height: 30em;
    max-height: 500px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 55vh; */
    margin-top: 2vh;
    margin: auto;
 
   
}

.product_image{
    /* width: 60%; */
    object-fit: contain;
    height: 100%;
    border-radius: 10px;
    align-self: center;
    width: 95%;
    height: 80%;
    /* margin-top: auto; */
    margin: auto;
    
    
   
}

.rating{
    font-size: 100%;
    margin-left: 5px;
}


.Cart{

    /* background-color: aqua; */
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    width: 60%;
    /* height: 100%; */
    align-items: flex-end;
    margin: auto;
    margin-bottom: 2vh;
    /* margin-top: 1vh; */
    /* border: 2px solid black; */
}
.addToCart{
    background: rgb(246, 207, 13);
    /* border: 3px solid rgb(0, 0, 0); */
   margin: auto;
   /* margin-bottom: 5px; */
   
    /* color: rgb(0, 0, 0); */
    width: 75%;
    /* align-self: center; */
    border-radius: 10px;
    margin-top: 1vh;
    font-size: 1em;
    cursor: pointer; 
    transition: all ease 0.5s;
    
}

/* .addToCart:hover{
    --_t: var(--h);
    --_p: 100%;
    --_s: .3s
} */